.top-kids{
    width:78%;
    margin: auto;
}
.kids-section{
    display: flex;
    gap:20px;
    margin-bottom: 30px;
}
.kids-1>img{
    width:100%; 
    height:auto; 
}
.kids-2>img{
    width:100%;
    height:auto;   
}
.kids-3>img{
    width:100%;
    height:auto; 
}
.kids-4>img{
    width:100%;
    height:auto; 
}
.kids-5>img{
    width:100%;
    height:auto; 
}
.below-kids{
    display: flex;
    gap:20px;
}
.kids-1,.kids-2,.kids-3,.kids-4,.kids-5{
    position: relative;
}
.kids-3{
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 50px;
}
.below-kids{
    margin-top: 20px;
}
.z1-box,.z3-box{
    width:100%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
.z1-box>p,.z2-box>p{
    font-weight: 500;
    margin-bottom: 30px;
    font-size: 54px;
    font-family: Futura-Medium,Century Gothic,Gill Sans,Helvetica,Arial,sans-serif;
}
.z3-box>p{
    font-weight: 500;
    margin-bottom: 30px;
    font-size: 28px;
    font-family: Futura-Medium,Century Gothic,Gill Sans,Helvetica,Arial,sans-serif;
}
.z1-box>button,.z3-box>button{
    font-size: 12px;
    color: #000;
    background-color: #fff;
    /* border-color: #757575; */
    display: inline-block;
    text-align: center;
    letter-spacing: 1.2px;
    line-height: 17px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.z2-box{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: black;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
.z2-box>button{
    font-size: 12px;
    color: #fff;
    background-color: #000;
    /* border-color: #757575; */
    display: inline-block;
    text-align: center;
    letter-spacing: 1.2px;
    line-height: 17px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.kids-top-para{
    font-family: Futura, Century Gothic, Gill Sans, Helvetica, Arial, sans-serif;
    letter-spacing: 0.2px;
    font-size: 14px;
    color: #9f2943!important;
    text-align: center;
    line-height: normal;
    text-align: center;
    position: relative;
    white-space: nowrap;
    cursor: pointer;
}
@media all and (min-width:420px) and (max-width:720px){
    .z1-box{
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        color: white;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
    }
    .z1-box>p,.z2-box>p{
        font-weight: 500;
        margin-bottom: 10px;
        font-size: 18px;
        font-family: Futura-Medium,Century Gothic,Gill Sans,Helvetica,Arial,sans-serif;
    }
    .z1-box>button{
        width:120px;
        font-size: 12px;
        color: #000;
        background-color: #fff;
        /* border-color: #757575; */
        display: inline-block;
        text-align: center;
        letter-spacing: 1px;
        line-height: 17px;
        padding: 5px 0px;
        border: none;
        cursor: pointer;
    }
    .z3-box>p{
        font-weight: 500;
        margin-bottom: 10px;
        font-size: 18px;
        font-family: Futura-Medium,Century Gothic,Gill Sans,Helvetica,Arial,sans-serif; 
    }
    .z3-box>button{
        width:120px;
        font-size: 12px;
        color: #000;
        background-color: #fff;
        /* border-color: #757575; */
        display: inline-block;
        text-align: center;
        letter-spacing: 1px;
        line-height: 17px;
        padding: 5px 0px;
        border: none;
        cursor: pointer;
        margin-bottom: 30px;
    }
    .z2-box>button{
        padding: 5px 10px;
    }
}
